.aca-input {
  padding: $padding;
  font-size: 0.8em;
  min-width: 300px;
  border: 0;
  border-bottom: 2px solid $gray-light-color;
  outline: 0;
  transition: all 0.3s ease;

  &:focus {
    border-bottom-color: $primary-color;
  }
}